.search-bar{
    border-radius: 50px;

}

.search-bar form{
    border: none;
}

.search-bar button{
    border: none;
    border-radius: 50%;
    

}

.search-bar input{
    border: none;
    border-radius: 50px;
    padding: 3px 10px;
    outline: none;
}

.search-bar input:focus{
    border: none;
}